/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

  .home-container{
    background-color: rgb(23, 23, 23);
    min-height: 100vh;
  }
  .centered-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(185, 180, 180);
    font-weight: lighter;
    margin-top: 3%;

  }

  .user-welcome{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    margin-top: 10%;
    font-weight: light;
  }