/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

  .home-container{
    background-color: rgb(23, 23, 23);
    min-height: 100vh;
    margin-top: 0;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover; /* Optional: Adjusts the background image size to cover the entire container */
  }
  .centered-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(185, 180, 180);
    font-weight: lighter;
  }

  .user-welcome{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    font-weight: light;
  }

  .home-page-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(185, 180, 180);
    margin-top: 40px;
  }